body {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
a:link { 
	color: #068681;
}
a:visited { 
	color: #068681;
}
#navi {
	background: #eee;
	border-bottom: 1px solid #d3d3d3;
	height: 45px;
	padding-top: 10px;
	box-shadow:0px -3px 3px -1px #fff inset;
}
#g-navi {
	display: block;
	background: #eee;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	height: 32px;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 0 30px;
	width: 570px;
}
#g-navi > li {
	float: left;
	position: relative;
}
#g-navi > li > a {
	display: block;
	border-left: 1px solid #fff;
	border-right: 1px solid #d3d3d3;
	padding: 6px 15px;
}
#g-navi > li:first-child > a {
	border-left: none;
}
#g-navi > li:last-child > a {
	border-right: none;
}

#g-navi span {
	position: relative;
}
#g-navi span::after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 10px solid ##5eab99;
}
.menu-shopping {
	display: none;
	background: #796161;
	position: absolute;
	top: 35px;
	right: 0px;
	min-width: 210px;
	padding: 12px 0;
	border: 1px solid #796161;
	box-shadow: 0px 0px 0px 1px #a18c8b inset,3px 4px 5px 0px rgba(0,0,0,0.3);

}
.menu-other {
	display: none;
	background: #796161;
	position: absolute;
	top: 35px;
	right: 0px;
	min-width: 325px;
	padding: 12px 0;
	border: 1px solid #796161;
	box-shadow: 0px 0px 0px 1px #a18c8b inset,3px 4px 5px 0px rgba(0,0,0,0.3);

}
.menu-shopping::before,
.menu-other::before {
	content:'';
	position: absolute;
	top: -6px;
	right: 28px;
	margin: 0 0 0 -5px;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #796161;
	border-left: 7px solid transparent;
}
.menu-shopping li a,
.menu-other li a {
	color: #fff;
	text-decoration: underline;
	font-weight: normal;
	font-size: 11px;
	padding: 0 10px;
}

.menu-shopping ul,
.menu-other ul {
	float: left;
}

.menu-shopping ul:last-child,
.menu-other ul:last-child {
	border-left: 1px solid #a18c8b;
	padding-left: 5px;
}


